@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uup4tm');
  src:  url('../fonts/icomoon.eot?uup4tm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uup4tm') format('truetype'),
    url('../fonts/icomoon.woff?uup4tm') format('woff'),
    url('../fonts/icomoon.svg?uup4tm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e902";
}
.icon-diamond:before {
  content: "\e900";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-enlarge:before {
  content: "\e989";
}
