body {
    display: grid;
    grid-template-rows: 100vh 374px 561px 473px minmax(1211px,auto) 959px minmax(852px,auto) minmax(1366px,auto) 119px;
    grid-template-columns: 1fr 1160px 1fr;
    font-family: 'Montserrat', sans-serif;
}

.section-landing-page, .section-key-benefits, .section-purchase, .section-work-examples, .section-feedbacks, footer {
    grid-column:1/4;
}

.section-services, .section-news, .section-gallery {
    grid-column: 2/3;
    overflow:hidden;
}

/*////////////////////// MAIN /////////////////////////////////////////////////////////////////////////*/
.section-landing-page {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Sections_background/Main_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ---------------------------------- MAIN NAVIGATION BAR -------------------------*/
.landing-page-header-navigation {
    width: 100%;
    height: 12vh; /* when copying exact size in pixels header seems too big, thus relative size is taken, assuming that main section should be 100vh*/
    min-height: 69px; /* still, logo shouldn't overlap in case of screen downsizing */
    position: fixed;
    top:0;
    left:0;
    z-index: 20;
    background: rgba(73,71,63,0.9);
}

.landing-page-header-navigation:after {
    content: "";
    display: block;
    width: 100%;
    height: 12vh;
    min-height: 69px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/Sections_background/Main_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0.5;
}

.landing-page-header-navigation-container {
    width: 1140px;
    height: 100%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    user-select: none;
}

.logo-symbol {
    width: 58px;
    height: 34px;
    position: relative;
    display: inline-block;
    background-color: #18cfab;
    margin: 16.5px 0;
    text-align: center;
    line-height:34px;
    font-size:40px;
    font-weight: bold;
    color: white;

}

.logo-symbol:before,
.logo-symbol:after {
    content: "";
    position: absolute;
    left:0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.logo-symbol:before {
    bottom: 100%;
    border-bottom: 16.5px solid #18cfab;
}

.logo-symbol:after {
    top: 100%;
    border-top: 16.5px solid #18cfab;
}

.logo-text {
    display: inline-block;
    margin-left: 8px;
    font-size: 32px;
    color: white;
}

.header-navigation-bar{
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
}

.header-navigation-bar-item{
    height: 100%;
    margin: 0px 11px;
    display:flex;
    align-items: center;
    text-transform: uppercase;
    color: #d4d4d4;
    font-size:13px;
    font-weight: bold;
}

.header-navigation-bar-item>a {
    text-decoration: none;
    color: #d4d4d4;
}

.header-navigation-bar-item>.fa-search {
    font-size: 18px;
}

.header-navigation-bar-item:hover{
    color:#18cfab;
    box-shadow: 0px 2px #18cfab;
}

/* ---------------------------------- MAIN PAGE -------------------------*/

.landing-page-title-container {
    width: 1140px;
    margin-bottom: 142px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.landing-page-main-title {
    font-size: 79px;
    color: white;
    font-weight: bold;
    margin-bottom: 43px;
}

.landing-page-secondary-title {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-bottom: 43px;
}

.landing-page-title-description{
    font-size: 34px;
    color: #d4d4d4;
    font-weight: 300;
}



/*////////////////////// KEY BENEFITS /////////////////////////////////////////////////////////////////////////*/

.section-key-benefits {
    display:flex;
}

.key-benefits-item-container {
    width: 25vw;
    height: 100%;
    padding-bottom: 120px;
    box-sizing: border-box;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    user-select: none;
}

.key-benefits-item-container:nth-child(even) {
    background: #18cfab;
    border-top: 7px solid white;
    color:white;
}

.key-benefits-item-container:nth-child(odd) {
     background: #1c2a33;
     border-top: 7px solid #18cfab;
     color: #18cfab;
}


.icon-pointing {
  width: 58px;
  height: 97px;
  margin-bottom: 48px;
  background: url(../img/Benefits/Theme_option.png);
}

.icon-gem {
  width: 93px;
  height: 75px;
  margin-bottom: 59px;
  background: url(../img/Benefits/Diamond.png);
}
.icon-bulb {
  width: 60px;
  height: 96px;
  margin-bottom: 49px;
  background: url(../img/Benefits/Support.png);
}

.icon-devices {
  width: 99px;
  height: 76px;
  margin-bottom: 59px;
  background: url(../img/Benefits/Devices.png);
}

/*////////////////////// SERVICES /////////////////////////////////////////////////////////////////////////*/

.section-services{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 81px;
    box-sizing: border-box;
}


.services-description-container {
    width: 1140px;
    height: 236px;
    margin-top: 112px;
}

.service-navigation-bar {
    height: 73px;
    margin-bottom: 25px;
    display: flex;
    align-items: stretch;
}


.service-navigation-item {
    width: 191px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    border-right: 0px;
    box-shadow: 1px 1px 5px -5px black;
    text-align: center;
    color: #717171;
    background: #f8fcfe;
    user-select:none;
}

.service-navigation-item:last-child {
    border-right: 1px solid #ebebeb;
}

.service-navigation-item:hover{
    box-shadow: 0px -2px #18cfab;
}

.service-navigation-item:active{
    background: #10876F;
    color: white;
}

.service-active {
    background: #18cfab;
    color:white;
    border-color: #18cfab;
}

.service-active:after {
    content:"";
    display:block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #18cfab;
}

.services-description-item:nth-of-type(n+2) {/*At start all services except first one are hidden*/
    display: none
}

.services-description-piccontainer {
    width: 194px;
    height: 139px;
    display: block;
    overflow:hidden;
    margin-right: 20px;
    float: left;
}

.services-description-container:after {
  content: '';
  display: block;
  clear: left;
}

.services-description-piccontainer > img {
    width: 100%;
}

.Service-description-text {
    width:926px;
    height: 136px;
    overflow: auto;
    text-align: justify;
    font-weight: 300;
    color: #777777;
}

/*//////////////////////////// PURCHASE /////////////////////////////////////////////////////////////////////////*/

.section-purchase {
    padding: 125px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0,0,0,0.78);
    position: relative;
}

.section-purchase:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-image: url(../img/Sections_background/section-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.purchase-main-title {
    font-size: 40px;
    font-weight: bold;
    color: #18cfab;
    margin-bottom: 35px;
}

.purchase-title-description {
     font-size: 16px;
     color: #d8d8d8;
     margin-bottom: 79px;
 }


/*//////////////////////////// WORK EXAMPLES /////////////////////////////////////////////////////////////////////////*/

.section-work-examples{
    padding: 96px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #f8fcfe;
}

.work-examples-navigation-bar {
    width: 609px;
    height: 58px;
    margin-top: 101px;
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    user-select:none;
}

.work-examples-navigation-item {
     height: 100%;
     flex-grow:1;
     display:flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #ebebeb;
     border-left: 0px;
     font-size: 14px;
     color: #717171;
 }

.work-examples-navigation-item:first-child {
    flex-grow:2;
    border-left: 1px solid #ebebeb;
}

.work-examples-navigation-item:hover {
    box-shadow: 0px -2px #18cfab;
}

.work-examples-navigation-item:active {
    color: white;
    background: #18cfab;
}

.work-examples-container {
    width: 1140px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 71px;
}

.work-examples-piccontainer {
   width: 285px;
   height: 207px;
   overflow: hidden;
   display:flex;
   position:relative;
}

.work-examples-piccontainer> img {
    width: 100%;
}

.work-examples-hoverbar {
    display:none;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    opacity: 0;
    transition: opacity 0.6s;
    background:white;
}

.work-examples-hoverbar a {
    text-decoration: none;
}

.examples-hoverbar-button {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    position: relative;
}


.examples-hoverbar-button > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.examples-hoverbar-button > .fa-search {
        font-size: 14px;
}
.examples-hoverbar-button > .icon-link {
        font-size: 22px;
}

.examples-hoverbar-button:hover {
    background: #18cfab;
    color: white;
}

.work-examples-hoverbar > h4 {
    margin-top: 34px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #18cfab;
}

.work-examples-hoverbar > p {
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
}

.work-examples-piccontainer:hover .work-examples-hoverbar {
    display:flex;
    height:100%;
    width:100%;
    border-top: 2px solid #18cfab;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.work-examples-hoverbar:hover {
    opacity: 1;
}


/*//////////////////////////// NEWS /////////////////////////////////////////////////////////////////////////*/

.section-news{
    padding: 84px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.news-news-container {
    width: 1140px;
    height: 605px;
    margin-top: 105px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news-news-container a {
    text-decoration: none
}

.news-container-story_item {
    width: 263px;
    height: 279px;
    position: relative;
}

.news-container-story_item:nth-child(n+5) { /* flex container spreads 8 articles with ok vertical margins
though if there are more than 8 articles auto-overflow will squeeze all vertical margins
thus top margin applied for all articles since 5th (start of 2nd row) */
    margin-top: 40px;
}

.news-story_item-piccontainer {
   width: 263px;
   height: 208px;
   overflow: hidden;
}

.news-story_item-piccontainer > img {
   width: 100%;
}

.news-story_item-date {
    width: 67px;
    height: 65px;
    padding: 13px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #203e38;
}

.news-story_item-footer {
    width: 100%;
    height: 71px;
    overflow: hidden;
    background: #f8fcfe;
    border: 1px solid #edeeee;
    box-sizing: border-box;
}

.news-story_item-footer>h3 {
    width: 100%;
    padding-top: 14px;
    padding-left: 13px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.news-story_item-footer>p {
    display: inline-block;
    margin: 14px 13px;
    font-size: 14px;
    color: #777777;
}

.news-story_item-footer>p:first-of-type {
    margin: 14px 0px;
    padding: 0px 13px;
    border-right: 1px solid #777777;
}

.news-container-story_item:hover .news-story_item-date {
    background: #18cfab;
}

.news-container-story_item:hover .news-story_item-footer>h3 {
    color: #18cfab;
}

/*//////////////////////////// FEEDBACK`S /////////////////////////////////////////////////////////////////////////*/

.section-feedbacks {
    padding: 99px 0px 100px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    color: white;
    position: relative;
}

.section-feedbacks:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/Sections_background/section-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.feedbacks-quote_marks {
    font-size: 45px;
    margin-top: 95px;
    color: #18cfab;
}

.feedback-article {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
.feedbacks-text {
    width: 1140px;
    margin: 43px 0px;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    color: #bbbbbb;
    font-weight: 300;
}

.feedbacks-user-name {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}

.feedbacks-user-position {
    margin-bottom: 27px;
    font-size: 13px;
    font weight: 300;
    color: #bbbbbb;
}

.feedbaks-user-piccontainer{
    width: 159px;
    height: 157px;
    margin-bottom: 57px;
    overflow:hidden;
    position: relative;
    border: 10px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    user-select:none;
}

.feedbaks-user-piccontainer:after {
    content: "";
    width: 138px;
    height: 136px;
    display: block;
    position: absolute;
    border: 3px solid #18cfab;
    box-sizing: border-box;
    border-radius: 50%;
    top: 2;
    left: 2;
}

.feedbaks-user-piccontainer>img {
    height:100%;
}
.feedbacks-other-users-navigation_bar {
    width: 482px;
    height: 68px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    user-select:none;
}

.feedbacks-other-users-navigation-container {
    width: 371px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-other-users-item-piccontainer{
    width: 57px;
    height: 57px;
    overflow:hidden;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    margin: 0px 10px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: margin-bottom 200ms;
}

.feedback-other-users-item-piccontainer:hover {
    border: 5px solid rgba(31, 218, 181, 0.4);
}

div[class^="feedbacks-other-users-navigation-button"] {
    height: 30px;
    width: 30px;
    border: 1px solid #bbbbbb;
    position: relative;
}

.feedbacks-other-users-navigation-button-right:after {
  content: " ";
  padding: 4px;
  display: block;
  top: 30%;
  left: 25%;
  position: absolute;
  border-width: 0 2px 2px 0;
  border-style:solid;
  border-color: #bbbbbb;
  transform: rotate(-45deg);
}

.feedbacks-other-users-navigation-button-left:after {
  content: " ";
  padding: 4px;
  display: block;
  top: 30%;
  right: 25%;
  position: absolute;
  border-width: 0 0 2px 2px;
  border-style:solid;
  border-color: #bbbbbb;
  transform: rotate(45deg);
  }

div[class^="feedbacks-other-users-navigation-button"]:hover {
    background: #18cfab;
    border-color: #18cfab;
}

div[class^="feedbacks-other-users-navigation-button"]:hover:after {
    border-color: white;
}

div[class^="feedbacks-other-users-navigation-button"]:active {
    background: #10876F;
    border-color: #10876F;
    transform: scale(0.9);
}


.current-user-selection {
    margin-bottom: 15px;
    position: relative;
}

.current-user-selection:after {
    content: "";
    width: 56px;
    height: 56px;
    display: block;
    position: absolute;
    border: 1px solid #18cfab;
    box-sizing: border-box;
    border-radius: 50%;
}

/*//////////////////////////// GALLERY /////////////////////////////////////////////////////////////////////////*/

.section-gallery {
    padding: 80px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.grid {
  width: 1160px;
  margin-top: 106px;
  margin-bottom: 60px;
}

.grid img {
    width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 370px;
  margin-bottom: 20px;
  float: left;
  overflow:hidden;
}

.grid-item-nested {
  display:flex;
  flex-flow: row wrap;
}

.gallery-tiny {
    width: 123px;
    height: 92px;
    margin-bottom: 5px;
    overflow: hidden;
}

.gallery-small {
    width: 175px;
    height: 125px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.number {
    width: 30px;
    height:30px;
    display: block;
    position:absolute;
    top:0px;
    lef:0px;
    background:yellow;
    z-index: 3;
    color: black;
}

.gallery-hoverbar {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
}

.gallery-btn {
    width: 42px;
    height: 38px;
    margin: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background: #14b9d5;

}

.gallery-btn >* {
    font-size: 20px;
}
.grid-item:hover .gallery-hoverbar {
    display: flex;
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
}

/*//////////////////////////// FOOTER /////////////////////////////////////////////////////////////////////////*/

footer {
    height: 108px;
    box-sizing: border-box;
    border-bottom: 11px solid white;
    padding: 47px;
    text-align: center;
    background: #22353f;
    color: rgb(174, 174, 174);
    font-size:14px;

}

.©_Copyright_2015_theHam___All_Rights_Reserved {
  font-size: 14px;
  font-family: "Myriad Pro";

  line-height: 1.857;
  text-align: left;
  position: absolute;
  left: 807.937px;
  top: 6877.221px;
  z-index: 7;
}


/* //////////////////////////////////////// UNIVERSAL CLASSES ////////////////////////////////////////////*/

b { /*restoring after "reset CSS"*/
    font-weight: bold;
}

.color-highlight {
    color: #18cfab;
}

.disabled {
    display:none;
}

.btn {
    width: 165px;
    height: 60px;
    margin: 0 15px;
    padding: 0px;
    border: none;
    border-radius: 4px;
    background: #18cfab;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    user-select:none;
    outline: none;
}

.btn:hover {
    background-image: linear-gradient(#18cfab, #008080);
    border:none;
}

.btn:active {
    background: linear-gradient(#10876F, #008080);
    border: solid 1px #0C6E59;
}

.btn-blue {
    background: #00cbf6;
}

.btn-blue:hover {
    background: linear-gradient(#00cbf6, #006E85);
}

.btn-blue:active {
    background: linear-gradient(#009DBD, #006E85);
    border: solid 1px #0086A1;
}


.btn-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-load-more > .plus {
    height: 30px;
    line-height:25px;
    font-size:28px;
    font-weight: bold;
}

.btn-shadow {
    box-shadow: 0 -5px white;
}

.btn-shadow:active {
    box-shadow: 0 -5px #1c2a33;
}
.page-title {
    position: relative;
    font-size: 36px;
    color: #4e4e4e;
}

.page-title:after {
    content:"";
    display: block;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-59%);
    width: 75px;
    height: 2px;
    background:#18cfab;
}

.page-title:before {
    content:"";
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-41%);
    width: 75px;
    height: 2px;
    background:#18cfab;
}

.page-title-dark-background {
    position: relative;
    font-size: 36px;
    color: #ffff;
}

.page-title-dark-background:after { /* on Mac display 2px line on dark background seem too bold that's why separate class has been created */
    content:"";
    display: block;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-59%);
    width: 75px;
    height: 1px;
    background:#18cfab;
}

.page-title-dark-background:before {
    content:"";
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-41%);
    width: 75px;
    height: 1px;
    background:#18cfab;
}


.load-simulator {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
        75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}

.load-circle-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-circle-1:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 1.5s infinite ease;
}

.load-circle-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-circle-2:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 1.5s infinite ease;
    animation-delay: 200ms;
}

.load-circle-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-circle-3:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 1.5s infinite ease;
    animation-delay: 400ms;
}




